*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    background-image:url("bg-pattern-top.svg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-color:hsl(185, 75%, 39%);

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 1.125rem;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
}
h1
{
    font-size: 1.375rem;
}
h2{
    font-size: 1.25rem;
}

.container .card{
    background-color: white;
    border-radius: 0.625rem;
}
.container .card .background-imgae {
    position: relative;
    margin-bottom: 3.125rem;
   
    
}
.container .card .background-imgae img{
    border-top-left-radius:0.625rem ;
    border-top-right-radius:0.625rem ;
}
.container .card .background-imgae .victor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translatex(-50%);
    
  
    
}
.container .card .background-imgae .victor img{
    border-radius: 50%;
    border: 0.3125rem solid white;
 
}
.container .card .info{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.3125rem;
}
.container .card .info h1{
    font-size: 1.125rem;
}
.container .card .info p{
    align-self: center;
    font-size: 1.125rem;
}

.container .card .country{
    display: flex;
    justify-content: center;
    margin-top: 0.3125rem;
}
hr{
    display: block;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
   border: none;
   width: 100%;
   height: 0.0313rem;
   background-color: hsl(0, 0%, 59%);
 

}
.container .card .chanel-info{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1.875rem;
}

.container .card .chanel-info .followers{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3125rem;
}

.container .card .chanel-info .likes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3125rem;
}

.container .card .chanel-info .photos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3125rem;
}


